*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --button: #68abf9;
  --purple: #e3dcf2;
  --aside: #0a1927;
  --hover: #f48f3d;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%;
  background: radial-gradient(#2b4165, #0a1927);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
  font-weight: 500;
}

body ul {
  list-style-type: none;
}

/*Header*/

.mobileheader__container {
  margin: 20px auto 50px;
  padding: 20px;
  width: 100%;
  max-width: 330px;
  display: flex;
  justify-content: space-between;
}

.logo__container {
  width: 100%;
  text-align: center;
}

.museum__name {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}

.logo {
  width: 60%;
  margin-bottom: 15px;
}

.logo__slogan {
  line-height: 0.5rem;
}

.slogan {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: lowercase;
}

.rocket__menu {
  width: 47px;
  background-color: transparent;
  border: none;
}

.mobileheader__container {
  position: relative;
}

.search__mobile {
  width: 40px;
}

.search__icon {
  background-image: url(/assets/search-icon-mobile.png);
  background-size: 40px;
  background-repeat: no-repeat;
}

.search__container input {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
}

.search__container input:hover,
.search__container input:focus {
  border: none;
  height: 40px;
  width: 220px;
  border-radius: 20px;
  background-color: #fff;
  opacity: 80%;
  position: absolute;
  left: 10px;
  z-index: 10;
}

.search__icon:hover,
.search__icon:focus {
  background-image: url(/assets/search-icon-mobile.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  padding-left: 50px;
}

.rocket__kids-container h2 {
  text-align: left;
}

.list {
  position: absolute;
  width: 100%;
  height: 80vh;
  left: 0;
  background: radial-gradient(#2b4165, #0a1927);
  opacity: 98%;
  border-radius: 20px;
  line-height: 4rem;
  font-size: 1.5rem;
  padding-right: 30px;
  display: none;
}

.rocket__menu:hover + .list,
.rocket__menu:focus + .list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.list a {
  color: #fff;
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}

.list a:hover {
  color: var(--hover);
}

/*/Header*/

/*Headlines*/

h1,
h2 {
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  letter-spacing: 0.1rem;
  text-align: center;
}

.headline__mobile {
  font-size: 2rem;
}

.headline__img {
  border-radius: 0 50px 0 50px;
  background-image: url(/images/machine-purple.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin: 50px auto;
}

.rocket__kids-container h2 {
  font-size: 2rem;
}

h3 {
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.special__events-mobile h3 {
  color: #fff;
}

/*/Headlines*/

/*cta buttons*/

.cta__container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.cta__container a,
.rocket__kids-container a,
.map__jump,
.contact__jump {
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background-color: var(--button);
  width: 115px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__container a:nth-child(1),
.map__jump,
.contact__jump {
  border-radius: 0 25px 0 25px;
}

.cta__container a:nth-child(2),
.rocket__kids-container a {
  border-radius: 25px 0 25px 0;
}

.contact__jump:hover,
.map__jump:hover,
.cta__container a:nth-child(1):hover {
  border-radius: 25px 0 25px 0;
}

.rocket__kids-container a:hover,
.cta__container a:nth-child(2):hover {
  border-radius: 0 25px 0 25px;
}

.cta__kids {
  justify-content: flex-end;
}

.cta__kids a {
  width: 150px;
}

/*/cta buttons*/

/*Rocket bubble*/

.rocket__container {
  background-image: url(/images/rocket-bubble.png);
  background-size: 500px;
  background-repeat: no-repeat;
  width: 100%;
  height: 520px;
  position: relative;
}

.rocket__container h2,
.rocket__container p {
  color: var(--aside);
  text-align: left;
  line-height: unset;
}

.rocket__text-container {
  width: 180px;
  position: absolute;
  top: 170px;
  left: 110px;
}

.rocket__text-container h2 {
  margin-bottom: -19px;
}

/*/Rocket bubble*/

/*Content*/

.webelieve__img {
  width: 100%;
  height: 500px;
  background-image: url(/images/elephant-in-the-room.jpg);
  background-size: 100%;
  border-radius: 0 50px 0 50px;
  position: relative;
  top: -30px;
}

.thisis__img,
.kids__img {
  height: 250px;
  margin: auto;
  border-radius: 0 50px 0 50px;
  background-size: cover;
  background-position-y: 0;
  background-repeat: no-repeat;
}

.thisis__img {
  background-image: url(/images/vr-red.jpg);
  width: 70%;
  max-width: 375px;
  background-position-y: -100px;
}

.kids__img {
  background-image: url(/images/child-reading.jpg);
  background-size: 100%;
  width: 100%;
}

.text__container-mobile,
.kids__container {
  color: #fff;
  margin: 20px auto;
  width: 70%;
  max-width: 300px;
}

.rocket__kids-container {
  position: relative;
  margin: 20px auto 60px;
}

.rocket__kids-container a {
  position: absolute;
  right: 0;
}

.news__img {
  width: 100%;
  height: 470px;
  background-image: url(/images/hallway.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 50px 0 80px 0;
  border-radius: 0 50px 0 50px;
}

.news,
.get__involved {
  width: 70%;
  color: #fff;
  margin: auto;
}

.get__involved,
.news section,
.get__involved section,
.robot__paragraph,
.planet__paragraph,
.evolution__section,
.ecology__section,
.kids__mobile section {
  margin-top: 60px;
}

.special__events-mobile p {
  font-weight: 400;
}

.moon__img,
.solarsystem__img,
.planets__img,
.skeleton__img,
.mammoth__img,
.ice__img,
.math__img,
.vrpaint__img,
.child__img,
.blocks__img {
  width: 100%;
  max-width: 375px;
  margin: auto;
  margin-bottom: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0 50px 0 50px;
}

.moon__img {
  height: 200px;
  background-image: url(/images/moon-phases.jpg);
}

.solarsystem__img {
  height: 440px;
  background-image: url(/images/solar-system.png);
  margin: 40px auto;
}

.planets__img {
  height: 190px;
  width: 80%;
  background-image: url(/images/rob-the-robot.jpg);
}

.skeleton__img {
  height: 220px;
  background-image: url(/images/skeleton-bw.jpg);
}

.mammoth__img {
  height: 170px;
  width: 80%;
  margin: 40px auto;
  background-image: url(/images/mammoth.jpg);
}

.ice__img {
  height: 230px;
  background-image: url(/images/global-warming.jpg);
}

.math__img {
  height: 150px;
  background-image: url(/images/math-problem.jpg);
  border-radius: 0;
}

.kids__mobile .mammoth__img {
  width: 100%;
  height: 230px;
}

.vrpaint__img {
  height: 230px;
  background-image: url(/images/vr-paint.jpg);
}

.child__img,
.blocks__img {
  height: 350px;
  width: 250px;
}

.child__img {
  background-image: url(/images/child-reading.jpg);
}

.blocks__img {
  background-image: url(/images/toy.jpg);
}

.teachers__img {
  height: 500px;
  width: 100%;
  background-position-y: unset;
  margin-bottom: 50px;
}

/*/Content*/

/*Footer*/

aside {
  background: var(--purple);
  margin-top: 150px;
  padding: 30px 0 50px 0;
}

footer {
  width: 80%;
  margin: auto;
}

footer h1 {
  text-transform: uppercase;
  color: var(--aside);
  font-size: 2rem;
  text-align: left;
}

footer p {
  font-weight: 200;
  width: 100%;
}

footer section {
  margin-bottom: 35px;
}

.location__container p {
  width: 80%;
}

.hours__section {
  display: flex;
  justify-content: space-between;
}

.hours__section ul {
  padding: 0;
  margin-right: 50px;
  line-height: 1.8rem;
}

.events__mobile {
  color: var(--aside);
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.events__mobile:hover {
  color: var(--hover);
}

/*/Footer*/

/*Hidden*/

nav,
.headline__desktop,
.headline__p,
.text__container-desktop,
.kids__section,
.events__container,
.map__scroll,
.contact__scroll,
.getinvolved__desktop,
.contactform__container,
#map,
.header__subsection-desktop,
.kids__header-desktop,
.kids__desktop {
  display: none;
}

/*/Hidden*/

/*/Mobile*/

/*

body {
     display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 800px 1fr 1fr;
    grid-template-areas:
    "aside header header"
    "aside main main"
    "aside main main";
}

header {
  background-color: beige;
  grid-area: header;
}

main {
  background-color: white;
  grid-area: main;
}

aside {
  background-color: blueviolet;
  grid-area: aside;
}

*/
