*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --button: #68abf9;
  --purple: #e3dcf2;
  --aside: #0a1927;
  --hover: #f48f3d;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%;
  background: radial-gradient(#2b4165, #0a1927);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
  font-weight: 500;
  color: #fff;
}

footer p {
  color: var(--aside);
}

body ul {
  list-style-type: none;
}

/*Header*/

.mobileheader__container {
  margin: 20px auto 50px;
  padding: 20px;
  width: 100%;
  max-width: 330px;
  display: flex;
  justify-content: space-between;
}

.logo__container {
  width: 100%;
  text-align: center;
}

.museum__name {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}

.logo {
  width: 60%;
  margin-bottom: 15px;
}

.logo__slogan {
  line-height: 0.5rem;
}

.slogan {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: lowercase;
}

.rocket__menu {
  width: 55px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: flex-start;
}

.rocket__menu-img {
  width: 45px;
}

.mobileheader__container {
  position: relative;
}

.search__container {
  width: 60px;
}

.search__container input {
  border: none;
  background-color: transparent;
  height: 40px;
  margin-left: 15px;
  outline: none;
}

.search__input-mobile {
  position: relative;
  width: 40px;
  height: ;
}

.search__icon-mobile {
  width: 40px;
}

#search__toggle,
.search__container {
  display: none;
}

#search__toggle:checked ~ .search__container {
  display: block;
  border: none;
  height: 40px;
  width: 220px;
  border-radius: 20px;
  background-color: #fff;
  opacity: 80%;
  position: absolute;
  left: 10px;
  z-index: 10;
}

.rocket__kids-container h2 {
  text-align: left;
}

.list {
  position: absolute;
  width: 100%;
  height: 620px;
  left: 0;
  background: radial-gradient(#2b4165, #0a1927);
  opacity: 98%;
  border-radius: 20px;
  line-height: 4rem;
  font-size: 1.5rem;
  padding-right: 30px;
  display: none;
}

#toggle {
  display: none;
}

#toggle:checked ~ .list {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}

.list a {
  color: #fff;
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

.list a:hover {
  color: var(--hover);
}

#active {
  color: var(--hover);
}

/*/Header*/

/*Headlines*/

h1,
h2 {
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  letter-spacing: 0.1rem;
  text-align: center;
}

.headline__mobile {
  font-size: 2rem;
}

.headline__img {
  border-radius: 0 50px 0 50px;
  background-image: url(/images/machine-purple.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  margin: 50px auto;
}

.rocket__kids-container h2 {
  font-size: 2rem;
}

h3 {
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.special__events-mobile h3 {
  color: #fff;
}

/*/Headlines*/

/*cta buttons*/

.cta__container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.cta__container a,
.rocket__kids-container a,
.map__jump,
.contact__jump,
.form__button,
.map__scroll,
.contact__scroll {
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  background-color: var(--button);
  width: 115px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__container a:nth-child(1),
.map__jump,
.contact__jump,
.form__button,
.contact__scroll {
  border-radius: 0 25px 0 25px;
}

.cta__container a:nth-child(2),
.rocket__kids-container a,
.map__scroll {
  border-radius: 25px 0 25px 0;
}

.contact__jump:hover,
.map__jump:hover,
.cta__container a:nth-child(1):hover,
.contact__scroll:hover {
  border-radius: 25px 0 25px 0;
}

.rocket__kids-container a:hover,
.cta__container a:nth-child(2):hover,
.map__scroll:hover {
  border-radius: 0 25px 0 25px;
}

.cta__kids {
  justify-content: flex-end;
}

.cta__kids a {
  width: 150px;
}

.form__button {
  border: 0;
  margin-top: 20px;
  position: relative;
}

/*/cta buttons*/

/*Rocket bubble*/

.rocket__container {
  background-image: url(/images/rocket-bubble.png);
  background-size: 500px;
  background-repeat: no-repeat;
  width: 100%;
  height: 520px;
  position: relative;
}

.rocket__container h2,
.rocket__container p {
  color: var(--aside);
  text-align: left;
  line-height: unset;
}

.rocket__text-container {
  width: 180px;
  position: absolute;
  top: 170px;
  left: 110px;
}

.rocket__text-container h2 {
  margin-bottom: -19px;
}

/*/Rocket bubble*/

/*Content*/

.webelieve__img {
  width: 100%;
  height: 500px;
  background-image: url(/images/elephant-in-the-room.jpg);
  background-size: 100%;
  border-radius: 0 50px 0 50px;
  position: relative;
  top: -30px;
}

.thisis__img,
.kids__img {
  height: 250px;
  margin: auto;
  border-radius: 0 50px 0 50px;
  background-size: cover;
  background-position-y: 0;
  background-repeat: no-repeat;
}

.thisis__img {
  background-image: url(/images/vr-red.jpg);
  width: 70%;
  max-width: 375px;
  background-position-y: -100px;
}

.kids__img {
  background-image: url(/images/child-reading.jpg);
  background-size: 100%;
  width: 100%;
}

.text__container-mobile,
.kids__container {
  color: #fff;
  margin: 20px auto;
  width: 70%;
  max-width: 300px;
}

.rocket__kids-container {
  position: relative;
  margin: 20px auto 60px;
}

.rocket__kids-container a {
  position: absolute;
  right: 0;
}

.news__img {
  width: 100%;
  max-width: 650px;
  height: 470px;
  background-image: url(/images/hallway.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 50px auto 70px auto;
  border-radius: 0 50px 0 50px;
}

.news,
.get__involved {
  width: 70%;
  color: #fff;
  margin: 60px auto;
}

article,
section {
  margin-top: 60px;
}

.special__events-mobile p {
  font-weight: 400;
}

.moon__img,
.solarsystem__img,
.planets__img,
.skeleton__img,
.mammoth__img,
.ice__img,
.math__img,
.vrpaint__img,
.child__img,
.blocks__img,
.astronaut__img-mobile,
.human__img,
.microscrope__img,
.microscrope__img-mobile {
  width: 100%;
  max-width: 375px;
  margin: auto;
  margin-bottom: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0 50px 0 50px;
}

.moon__img {
  height: 200px;
  background-image: url(/images/moon-phases.jpg);
}

.solarsystem__img {
  height: 440px;
  background-image: url(/images/solar-system.png);
  margin: 40px auto;
}

.planets__img {
  height: 190px;
  width: 80%;
  background-image: url(/images/rob-the-robot.jpg);
}

.skeleton__img {
  height: 220px;
  background-image: url(/images/skeleton-bw.jpg);
}

.mammoth__img {
  height: 170px;
  width: 80%;
  margin: 40px auto;
  background-image: url(/images/mammoth.jpg);
}

.ice__img {
  height: 230px;
  background-image: url(/images/global-warming.jpg);
}

.math__img {
  height: 150px;
  background-image: url(/images/math-problem.jpg);
  border-radius: 0;
}

.kids__mobile .mammoth__img {
  width: 100%;
  height: 230px;
}

.vrpaint__img {
  height: 230px;
  background-image: url(/images/vr-paint.jpg);
}

.section__three-img {
  position: relative;
  height: 430px;
  width: 100%;
  max-width: 375px;
  margin: auto;
}

.child__img,
.blocks__img {
  position: absolute;
}

.child__img {
  background-image: url(/images/child-reading.jpg);
  height: 300px;
  width: 215px;
  z-index: 2;
}

.blocks__img {
  background-image: url(/images/toy.jpg);
  height: 300px;
  width: 210px;
  z-index: 1;
  top: 100px;
  right: 0;
}

.teachers__img {
  height: 500px;
  width: 100%;
  background-position-y: unset;
  margin-bottom: 50px;
}

.astronaut__img-mobile {
  height: 250px;
  background-image: url(/images/astronaut.jpg);
}

.human__img {
  height: 400px;
  background-image: url(/images/research-body.jpg);
}

.microscrope__img,
.microscrope__img-mobile {
  height: 200px;
  background-image: url(/images/research-microscrope.jpg);
  margin-top: 60px;
}

.special__events-mobile section {
  max-width: 450px;
  margin: auto;
}

/*Contact form*/

.contactform__mobile {
  margin: auto;
  width: 100%;
  max-width: 375px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.input__name,
.input__email,
.input__subject,
.input__textarea {
  background-color: var(--purple);
  opacity: 0.8;
  border: none;
  border-radius: 0 5px 0 5px;
  height: 30px;
  width: 225px;
  text-align: center;
  font-family: "quicksand", Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 800;
  color: var(--aside);
}

.input__subject {
  width: 225px;
}

.input__textarea {
  width: 225px;
  height: 170px;
}

/*/Contact form*/

/*Map*/

.map__mobile {
  width: 100%;
  max-width: 375px;
  height: 500px;
  text-align: center;
  margin: auto;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*/Map*/

/*/Content*/

/*Footer*/

aside {
  background: var(--purple);
  margin-top: 150px;
  padding: 30px 0 50px 0;
}

footer {
  width: 80%;
  margin: auto;
}

footer h1 {
  text-transform: uppercase;
  color: var(--aside);
  font-size: 2rem;
  text-align: left;
}

footer p {
  font-weight: 200;
  width: 100%;
}

footer section {
  margin-bottom: 35px;
}

.location__container p {
  width: 80%;
}

.hours__section {
  display: flex;
  justify-content: space-between;
}

.hours__section ul {
  padding: 0;
  margin-right: 30px;
  line-height: 1.8rem;
}

.events__mobile {
  color: var(--aside);
  font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.events__mobile:hover {
  color: var(--hover);
}

/*/Footer*/

/*Hidden*/

nav,
.headline__desktop,
.headline__p,
.text__container-desktop,
.kids__section,
.events__container,
.map__scroll,
.contact__scroll,
.getinvolved__desktop,
.contactform__container,
#map,
.header__subsection-desktop,
.kids__header-desktop,
.kids__desktop,
.researcher__desktop,
.logo__desktop,
.absolute__fix,
.explore__desktop,
.main__get-involved,
.human__img-researchers {
  display: none;
}

.text__researchers,
.microscrope__img-mobile {
  display: block;
}

/*/Hidden*/

/*/Mobile*/

@media (min-width: 480px) {
  .thisis__img {
    height: 400px;
  }

  .webelieve__img,
  .headline__img {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  .rocket__container {
    width: 480px;
    margin: auto;
  }

  .cta__container {
    width: 360px;
  }

  .hours__section {
    width: 330px;
  }
}

@media (min-width: 800px) {
  .mobileheader__container {
    max-width: 700px;
  }

  .logo__container {
    width: 40%;
  }

  .main__contact {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1100px) {
  /*Hidden*/

  .mobileheader__container,
  .map__jump,
  .contact__jump,
  .headline__mobile,
  .headline__img,
  .text__container-mobile,
  .rocket__kids-container h2,
  .kids__header-mobile,
  .kids__mobile,
  .astronaut__img-mobile,
  .human__img,
  .cta__container,
  .researcher__mobile,
  .explore__mobile,
  .headline__p-get,
  .events__mobile,
  .main__contact,
  .aside__contact,
  .special__events-mobile,
  .special__events-aside,
  .microscrope__img-mobile {
    display: none;
  }

  /*/Hidden*/

  body {
    background-image: url(/images/starry-sky.jpg);
    background-size: 100% 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    max-width: 1500px;
    display: grid;
    margin: auto;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 800px auto auto;
    grid-template-areas:
      "aside header header"
      "aside main main"
      "aside main main";
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    position: relative;
  }

  footer p {
    color: #fff;
  }

  /*Aside*/

  .events__container,
  .contactform__container,
  #map,
  footer,
  .logo__desktop {
    display: block;
  }

  aside {
    background-color: var(--aside);
    grid-area: aside;
    margin: 0;
    color: #fff;
  }

  aside h1,
  aside h2 {
    text-align: left;
    width: 75%;
    margin: auto;
    color: #fff;
  }

  article,
  section {
    margin-top: unset;
  }

  .events__mobile {
    color: #fff;
  }

  .logo__container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    width: unset;
  }

  .logo__slogan p {
    text-align: left;
    line-height: 0.8rem;
  }

  .events__headline,
  .events__container h2 {
    margin-bottom: 40px;
  }

  .events__headline {
    font-size: 2rem;
  }

  .events__section h2 {
    font-size: 1.2rem;
    margin-bottom: -10px;
  }

  .events__section {
    margin-bottom: 40px;
  }

  .text__container-desktop {
    display: block;
    width: 80%;
  }

  footer {
    width: 75%;
  }

  .map__scroll,
  .contact__scroll {
    display: flex;
  }

  .getinvolved__desktop {
    display: block;
  }

  .contactform__container {
    margin: 60px auto;
    text-align: left;
  }

  .contactform__container h2 {
    margin-bottom: 30px;
  }

  .form__container {
    align-items: flex-start;
    width: 75%;
    margin: auto;
  }

  .map__mobile {
    width: 80%;
    height: 410px;
  }

  /*/Aside*/

  /*Header*/

  nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 50px;
    right: 10px;
    width: 60%;
    max-width: 850px;
    z-index: 20;
  }

  nav a {
    color: #fff;
  }

  nav div {
    width: 150px;
    display: flex;
  }

  nav div a {
    display: flex;
    align-items: center;
  }

  nav img {
    width: 30%;
    margin-right: 10px;
  }

  .nav__kids img {
    width: 45%;
  }

  .nav__researchers img {
    width: 20%;
  }

  .nav__explore img {
    width: 25%;
  }

  .nav__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label__flex {
    display: flex;
  }

  #search__desktop {
    display: none;
    position: relative;
  }

  #search__desktop:checked + .search__container {
    display: block;
    border: none;
    height: 40px;
    width: 220px;
    border-radius: 20px;
    background-color: #fff;
    opacity: 80%;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 10;
  }

  .search__desktop-img {
    align-self: center;
    width: 30%;
  }

  .headline__desktop,
  .headline__p {
    display: flex;
  }

  .headsection__desktop h1 {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0.6rem;
    margin-bottom: unset;
  }

  .headline__p {
    width: 400px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 1.8rem;
    margin-top: 40px;
  }

  .cta__container-index {
    display: flex;
    width: 320px;
    margin-top: 30px;
  }

  .header__desktop {
    background-image: url(/images/machine-purple.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .background__overlay {
    width: 100%;
    height: 800px;
    background: var(--aside);
    opacity: 0.7;
    position: absolute;
  }

  .headsection__desktop {
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  /*Kids desktop*/

  .kids__header-desktop {
    display: block;
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
  }

  .math__img {
    max-width: unset;
    width: 100%;
    height: 350px;
  }

  .math__headlines {
    width: 90%;
    margin: 0 auto;
  }

  .math__headlines h1,
  .math__headlines h2 {
    text-align: left;
  }

  .math__headlines h1 {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin: 0;
  }

  .math__headlines h2 {
    width: 450px;
  }

  /*/Kids desktop*/

  /*/Header*/

  /*Main*/

  .rocket__container {
    position: absolute;
    width: 500px;
    z-index: 10;
    right: -100px;
    top: -180px;
    transform: rotate(-20deg);
  }

  .absolute__fix {
    height: 300px;
  }

  .rocket__text-container {
    transform: rotate(20deg);
    top: 190px;
    left: 120px;
  }

  .rocket__text-container p {
    width: 220px;
  }

  .card__container {
    width: 80%;
    height: 1050px;
    margin: auto;
    gap: 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .webelieve__card,
  .thisis__card {
    position: relative;
    width: 370px;
    height: 470px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
  }

  .thisis__card {
    align-self: center;
  }

  .webelieve__img,
  .thisis__img {
    position: absolute;
    width: 370px;
  }

  .thisis__img {
    height: 100%;
  }

  .card__background-overlay {
    position: absolute;
    width: 370px;
    height: 250px;
    background: linear-gradient(to bottom, rgba(84, 84, 84, 0), rgba(9, 19, 30, 1));
    z-index: 5;
    bottom: 0;
    border-radius: 0 0 0px 50px;
  }

  .thisis__card .card__background-overlay {
    height: 470px;
  }

  .webelieve__card .text__container-desktop,
  .thisis__card .text__container-desktop {
    position: absolute;
    width: 320px;
    bottom: 15px;
    z-index: 10;
  }

  .webelieve__card .text__container-desktop h2,
  .thisis__card .text__container-desktop h2 {
    text-align: left;
    margin: 0;
    margin-bottom: -15px;
  }

  .webelieve__card .text__container-desktop p,
  .thisis__card .text__container-desktop p {
    font-size: 0.9rem;
  }

  .kids__container {
    position: relative;
    top: 80px;
  }

  .rocket__bubble {
    position: absolute;
    left: -65px;
    top: -50px;
    width: 400px;
    height: 500px;
    background-image: url(/images/rocket-bubble.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    z-index: 1;
  }

  .kids__section {
    display: block;
  }

  .kids__section h2 {
    font-size: 2rem;
    position: absolute;
    top: -50px;
    left: -200px;
  }

  .rocket__kids-container p {
    color: var(--aside);
    width: 220px;
    position: absolute;
    left: 40px;
    top: 140px;
    z-index: 2;
  }

  .rocket__kids-container a {
    position: absolute;
    right: unset;
    left: 160px;
    top: 270px;
    z-index: 2;
  }

  .kids__img {
    width: 300px;
    height: 400px;
    position: relative;
    top: 100px;
    left: -200px;
  }

  /*Kids main*/

  .kids__desktop {
    display: block;
  }

  .kids__desktop section {
    width: 350px;
    height: 500px;
    background-image: url(/images/starry-sky.jpg);
    border-radius: 20px;
  }

  .card__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .card__section .mammoth__img,
  .card__section .skeleton__img {
    height: 190px;
  }

  .card__section .skeleton__img {
    width: 80%;
  }

  .card__section .card__background-overlay {
    width: 350px;
    border-radius: 20px;
  }

  .card__section .section__one,
  .card__section .section__two {
    position: relative;
    z-index: 10;
    width: 300px;
  }

  .section__one h2,
  .section__two h2 {
    text-align: left;
    margin-bottom: -15px;
  }

  .section__two {
    margin-bottom: 30px;
  }

  .section__one p {
    width: 100%;
  }

  .card__flex {
    width: 80%;
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: wrap;
  }

  .card__section-two {
    position: relative;
    right: -200px;
  }

  .kids__desktop .card__section-three {
    width: 80%;
    height: 600px;
    margin: 100px auto 0 auto;
  }

  .kids__desktop .rocket__container {
    top: unset;
    bottom: -200px;
    right: unset;
    left: 40px;
  }

  .vr__paint-img {
    width: 80%;
    height: 300px;
    border-radius: 0 50px;
    background-image: url(/images/vr-paint.jpg);
    background-size: 100%;
    position: absolute;
    top: 40px;
  }

  .kids__footer {
    background-color: var(--aside);
    margin-top: 300px;
    height: 1800px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .kids__footer section {
    background-image: unset;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
  }

  .vr__red {
    width: 300px;
    height: 400px;
    background-image: url(/images/vr-red.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0 50px;
  }

  .teachers__text,
  .holidays__text {
    width: 400px;
  }

  .teachers__text h2 {
    text-align: left;
    font-size: 2rem;
  }

  .teachers__text .contact__scroll,
  .holidays__text .contact__scroll {
    width: 140px;
  }

  .holiday__img {
    width: 300px;
    height: 400px;
    position: relative;
  }

  .kids__img-kids,
  .blocks__img-kids {
    width: 200px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0 50px;
  }

  .kids__img-kids {
    background-image: url(/images/child-reading.jpg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .blocks__img-kids {
    background-image: url(/images/toy.jpg);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /*/Kids main*/

  /*Researchers Main*/

  .no__background {
    background-image: unset;
  }

  .header__researchers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 930px;
  }

  .astronaut__img-desktop {
    display: block;
    width: 100%;
    height: 450px;
    background-image: url(/images/astronaut.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .header__researchers p,
  .header__researchers h1 {
    margin: 0 0 10px 10%;
  }

  .header__researchers h1 {
    font-size: 3rem;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

  .header__researchers p {
    font-family: "genos", Verdana, Geneva, Tahoma, sans-serif;
    max-width: 350px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }

  .researcher__desktop {
    display: block;
  }

  .researcher__desktop .microscrope__img {
    display: block;
    width: 80%;
    min-width: 534px;
    height: 350px;
    max-width: unset;
    margin-top: 15px;
  }

  .telescope__img,
  .rocket__big-img {
    width: 150px;
    height: 122px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .telescope__img {
    background-image: url(/assets/telescope-icon.png);
  }

  .rocket__big-img {
    background-image: url(/assets/rocket-big-icon.png);
  }

  .telescope,
  .rocket__big {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 395px;
    margin-bottom: 30px;
  }

  .telescope p,
  .rocket__big p {
    font-size: 0.9rem;
    line-height: unset;
    width: 300px;
    margin: 0;
  }

  .info__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 140px;
  }

  .contact__container-researchers {
    margin-top: 140px;
  }

  .contact__container-researchers h2 {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
    margin: auto;
    max-width: 720px;
  }

  .form__left {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .form__container-researchers {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 100px;
    max-width: 720px;
    height: unset;
  }

  .input__textarea-researchers {
    width: 400px;
    height: 150px;
  }

  .human__img-researchers {
    display: block;
    width: 80%;
    max-width: 720px;
    height: 600px;
    background-position-y: -150px;
  }

  /*/Researchers Main*/

  /*Explore Header*/

  .header__explore {
    width: 100%;
    height: 800px;
    position: relative;
  }

  .starrysky__header {
    width: 100%;
    height: 800px;
    position: relative;
    top: 0;
    left: 0;
    background-image: url(/images/moon-phases.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .starrysky__header::after {
    content: "";
    background-image: url(/images/starry-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: absolute;
    opacity: 0.7;
  }

  .header__explore .headline__desktop {
    position: absolute;
    top: 430px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 2.9rem;
    letter-spacing: 0.4rem;
    z-index: 1;
  }

  .header__subsection-desktop {
    position: absolute;
    top: 560px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
  }

  .card__overlay-explore {
    width: 100%;
    height: 250px;
    z-index: 1;
  }

  .header__subsection-desktop h2 {
    margin-bottom: -5px;
  }

  .header__subsection-desktop p {
    width: 530px;
  }

  /*/Explore Header*/

  /*Explore Main*/

  .explore__desktop {
    display: block;
  }

  .cosmology {
    position: relative;
    width: 100%;
    max-width: 850px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
  }

  .starrysky__background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: url(/images/starry-sky.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0 50px;
    z-index: 1;
  }

  .overlay__explore-section {
    height: 400px;
  }

  .solar__system-img,
  .robtherobot__img {
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0 50px;
    position: relative;
    z-index: 10;
  }

  .solar__system-img {
    background-image: url(/images/solar-system.png);
  }

  .robtherobot__img {
    background-image: url(/images/rob-the-robot.jpg);
    width: 300px;
    height: 230px;
  }

  .robotics__text-container {
    position: relative;
    z-index: 10;
  }

  .robotics__text-container p {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .robotics__text-container h2 {
    text-align: left;
    margin-bottom: -20px;
  }

  .robotics__section,
  .cosmology__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article__container {
    width: 100%;
    margin-top: 150px;
  }

  .article__container h2 {
    text-align: left;
  }

  .evolution {
    width: 85%;
    max-width: 850px;
    margin: auto;
  }

  .evolution__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .container__explore {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container__explore p {
    width: 100%;
    height: 200px;
    font-size: 0.9rem;
    margin: 0 auto;
  }

  .skeleton__img-explore,
  .mammoth__img-explore,
  .pollution__img {
    width: 100%;
    height: 220px;
    margin: unset;
  }

  .pollution__img {
    background-image: url(/images/pollution.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -180px;
    border-radius: 0 50px;
  }

  /*/Explore Main*/

  /*Get Involved Main*/

  .main__get-involved {
    display: block;
  }

  .header__desktop-get {
    background-image: url(/images/hallway.jpg);
    background-size: 100%;
    height: 700px;
  }

  .background__overlay-get {
    height: 700px;
    opacity: 0.5;
  }

  .headsection__get h1 {
    font-size: 4rem;
  }

  .get__text-flex {
    display: flex;
    flex-direction: column;
  }

  .contact__scroll-get {
    align-self: end;
    width: 125px;
  }

  .main__get-involved section {
    width: 85%;
    max-width: 700px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 100px;
  }

  .dome__img {
    width: 320px;
    height: 450px;
    background-image: url(/images/dome.jpg);
    background-size: 100%;
    border-radius: 0 50px;
  }

  .text__section-get {
    font-size: 0.9rem;
  }

  .text__section-get:nth-child(2) {
    margin-bottom: 0px;
  }

  .main__get-involved h2 {
    text-align: left;
    margin-bottom: -20px;
    margin-left: 30px;
  }

  .ant__img,
  .museum__img {
    width: 340px;
    height: 240px;
    border-radius: 0 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    align-self: flex-start;
  }

  .ant__img {
    background-image: url(/images/ant.jpg);
  }

  .museum__img {
    background-image: url(/images/museum.jpg);
  }

  .main__get-involved article:nth-child(3) section {
    align-items: flex-start;
  }

  .main__get-involved article:nth-child(3) section h2 {
    margin-top: 0;
  }

  /*/Get Involved Main*/

  /*/Main*/
}

@media (min-width: 1275px) {
  .card__section-two {
    right: 0;
  }
}

@media (min-width: 1354px) {
  .kids__container {
    top: -290px;
    width: 100%;
    max-width: 800px;
    height: 500px;
  }

  .kids__img {
    top: 270px;
    left: 30px;
  }

  .kids__section h2 {
    font-size: 2.2rem;
    top: 170px;
    left: unset;
    right: 30px;
  }
}
