* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown {
  height: 10vh;
  background-color: red;
}

.projects {
  position: relative;
}

.projects ul {
  position: absolute;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.projects a {
  text-decoration: none;
}

.dropdown button {
  background: blue;
  border: none;
  color: white;
}

.projects button:focus + ul {
  opacity: 1;
  pointer-events: all;
}
